body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

#bg-image-contacto {
  height: 100vh;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  display: flex;
  gap: 20px; 
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
}




